<div class="flex flex-col h-screen">
  <header class="bg-gray-900 text-white py-4 px-6">
    <h1 class="text-2xl font-bold">Chat App</h1>
  </header>
  <div class="flex-1 bg-gray-100 dark:bg-gray-800 p-6 overflow-y-auto">
    <div class="space-y-4">
      <%= tag.div id: dom_id(@chat) + "_messages"  do %>
        <%= render @chat.messages %>
      <% end %>
    </div>
  </div>
     <%= form_with(model: Message.new, url: chat_messages_path(@chat), data: { controller: 'chat--form', action: 'turbo:submit-end->chat--form#reset' }) do |form| %>
  <div class="bg-gray-200 dark:bg-gray-900 p-4 flex items-center">
      <%= form.text_area :content,
        class: "flex-1 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 rounded-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500",
        placeholder: "Type your message...",
        rows: 2
      %>
      <button class="bg-blue-500 text-white rounded-lg py-2 px-4 ml-4 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
        Send
      </button>
  </div>
      <% end %>
</div>

<turbo-stream-source src="/events/sse"></turbo-stream-source>
